@charset 'utf-8';
html{font-size: 15px;}   
body{position: relative; font-size: 1rem;}
.skip{position: absolute; top: -40px; left: 0; right: 0; height: 30px; font-size: 1rem; text-align: center; line-height: 30px; background: #fff;}
.skip a{color: #000;}
.maato1{ max-width: 1400px; margin: 0 auto;}
.maato2{ max-width: 880px; margin: 0 auto;}
.colorgr{color: #0a723f;}
#header{position: relative; height: 4rem;}
#header .logo{position: absolute; left: 14.26rem; top: 1.233rem; width: 13.33rem; height: 1.667rem; background: url(../img/header_logo_gray.png) no-repeat left top / cover;}
#main{}
/*메인비주얼*/
#main-visual{height: 42.67rem; background: #186745 url(../img/main_bg_desktop.svg) no-repeat center / cover;}
#main-visual > div{position: relative; width: 100%; height: 100%;}
#main-visual .box-center{width: 65.47rem; margin: 0 auto;}
#main-visual .box-center::before{content: ""; position: absolute; right: 16%; bottom: -43px; width: 16.93rem; height: 17.33rem; background:url(../img/computer_boy.png) no-repeat center top 0 / contain;}
#main-visual .visual-box{position: relative; bottom: -5.8rem; padding: 45px 113px 25px 49px; width: 32.33rem; height: 39.57rem; background-color: #fff; border-radius: 0 2rem 0 0; box-shadow: 0 2px 10px rgba(0,0,0,0.5); box-sizing: border-box; z-index: 10;}
#main-visual div h1{font-size: 3.6rem; line-height: 1.4;}
#main-visual div h1:after{content:""; display: block; margin: 2.667rem 0 0; height: 4px; width: 100%; background: #0a723f;}
#main-visual div p{margin: 3.067rem 0 0; font-size: 1.33rem; color: #000; line-height: 1.8;}
/*퀵메뉴*/
.quick{position: fixed; left: 0; right: 0; bottom: 0; height: auto; z-index: 10000;}
.quick a{display: block; width: 100%; height: 100%; font-size: 1.6rem; color: #fff; text-align: center;}
.quick a p{float: left; width: 75%; background:rgba(0,0,0,.7); line-height: 5.2rem;}
.quick a span{float: left; display:block; width: 25%; background: #f5785a; line-height: 5.2rem;}
/*이거 혹시 내얘기 2sec*/
#story{padding: 12.13rem 0 0;}
h4{font-size: 2.267rem; line-height: 3.467rem; color: #0a723f;}
h4::after{content: ""; display: block; margin: 1.25rem 0 1.5rem; width: 100%; height: 3px; background: #0a723f;}
.solution-info01{text-align: center;}
.solution-info01 strong{display: block; font-size: 2.667rem; line-height: 3.933rem; }
.solution-info01 .men{float: left; padding: 5.4rem 2.133rem 0 0; width: 17.87rem;}
.solution-info01 figure{margin: 5.4rem 0 15.29rem;}
.solution-info01 figure img{float: left; height: 20.2rem; vertical-align: middle;}
.solution-info01 figure img:last-child{padding: 0;}
.solution-info01 figure .img-text{padding: 0 1.067rem 0 0; width: 12.13rem;}
.solution-info01 p{position: relative; width: 46.53rem; margin: 0 auto; font-size: 3.133rem; line-height: 4.867rem; clear: both;}
.solution-info01 p:after{content: ""; position: absolute; width: 2rem; height: 1.7333rem; left: 0; top:0; background: url(../img/quote-1.svg) no-repeat; background-size: cover;}
.solution-info01 p:before{content: ""; position: absolute; width: 2rem; height: 1.7333rem; right: 0; top:0; background: url(../img/quote-2.svg) no-repeat; background-size: cover;}
/*solution 2*/
.solution-info02{background: #f8f8f8; margin: 13.67rem 0 0; padding: 5.6rem 0.9333rem; color:#0a723f; box-sizing: border-box;}
.solution-info02 > div{background: #f8f8f8;}
.solution-info02 strong{float: left; width: 55%; font-size: 2.267rem; line-height: 3.33rem; text-align: left;}
.solution-info02 i{float: right; width: 45%; font-size: 3.8rem; line-height: 5.6rem; text-align: right;}
.solution-info02 em{display: block; width: 100%; font-size: 1.063rem; color: #707070; clear: both; text-align: right;}
/*solution 3*/
.solution-info03{background: #e3f7da url(../img/hemcard_circle.svg) no-repeat left 53% top 41%;}
.solution-info03 > div{width: 64.5rem; margin: 0 auto; padding: 0 0 0 2.5rem; box-sizing: border-box;}
.solution-info03 img{float: left; padding: 5.875rem 0 0;}
.solution-info03 .new-pay{float: right; color: #17ad6e; padding: 11.513rem 0 11.63rem;}
.solution-info03 .new-pay strong{font-size: 2.267rem; line-height: 3.333rem;}
.solution-info03 .new-pay p{font-size: 1.133rem; line-height: 1.867rem;}
/*solution 4*/
.solution-info04{background: #f8f8f8;}
.solution-info04 >div{width: 64.5rem; margin: 0 auto; padding: 9.375rem 0 6.25rem 2.5rem; box-sizing: border-box;}
.solution-info04 .new-pay-info{float: left; width: 45%;}
.solution-info04 .new-pay-info h4{width: 18.2rem;}
.solution-info04 .new-pay-info p{width: 18.33rem; font-size: 1.133rem; line-height: 1.8rem;color:
#3b3b3b;}
.solution-info04 img{float: right; width: 55%;}
/*solution 5*/
.solution-info05{position: relative; width: 100%; height: 41.33rem; text-align: center; background: #0a723f url(../img/hdm_pay_bg_desktop.svg) no-repeat center / cover;}
.solution-info05::before{content: ""; position: absolute; top: 4rem; left: 50%; transform: translateX(-250%); width: 11.6rem; height: 8.667rem; background: url(../img/money.png) no-repeat  center/cover; z-index: 10;}
.solution-info05::after{content: ""; position: absolute; bottom: -2.4rem; right: 50%; transform: translateX(400%); width: 7.6rem; height: 18.8rem; background: url("../img/alba_boy.png") no-repeat center/cover;}
.solution-info05 > div{overflow: hidden;}
.solution-info05 .radius{position: relative; top: -1.333rem; width: 45.47rem; height: 45.47rem; margin: 0 auto; padding: 10.38rem 6rem 9.375rem; border-radius: 100%; background: #fff; box-sizing: border-box;}
.solution-info05 h4{margin: 1.25rem 0 3.875rem;}
.solution-info05 p{font-size: 1.6rem; line-height: 2.733rem; color: #186745;}
/*solution 6*/
.solution-info06{padding: 15.07rem 0 7.333rem; }
.solution-info06 > div{width: 39.73rem; margin: 0 auto; padding: 14.27rem 0 0;text-align: center; background: url(../img/lamp.svg) no-repeat center top;}
.solution-info06 p{font-size: 3.33rem; line-height: 4.667rem; font-weight: normal;}
.solution-info06 p strong{position: relative; display: block;}
.solution-info06 p strong::before{content: ""; position: absolute; left: 0; bottom: 5px; width: 100%; height: 2.933rem; background: #ffff9b; z-index: -1;}
.solution-info06 .step{padding: 3.063rem 0 0;}
.solution-info06 .step li{position: relative; width: 29.73rem; margin: 4.267rem auto; padding: 0 0 0 3.467rem; border-radius: 5.467rem; font-size: 1.467rem; line-height: 5.467rem; border: 1px solid #17ad6e; box-sizing: border-box;}
.solution-info06 .step li::after{content:""; position: absolute; left: 50%; bottom: -3.533rem; transform: translateX(-50%);width: 1rem; height: 2rem; background: url(../img/arrow-green.svg) no-repeat;}
.solution-info06 .step li:last-child::after{display: none;}
.solution-info06 .step li img{position: absolute; left: 0; top: 0;}
/*solution 7*/
.solution-info07{background: #f8f8f8; padding: 5.533rem 0 7.067rem;}
.solution-info07 > div{width: 40.67rem; margin: 0 auto;}
.solution-info07 h4{width: 20rem; line-height: 2.467rem;}
.solution-info07 ul li::before{content: ""; display: inline-block; width:1.6rem; height: 1.733rem; background:no-repeat center; vertical-align: -6px;}
.solution-info07 .chek-list{padding: 2.667rem 0 0;}
.solution-info07 .chek-list li{font-size: 1.133rem; line-height: 2rem;}
.solution-info07 .chek-list li+li{padding: 1.6rem 0 0;}
.solution-info07 .chek-list li::before{background-image: url(../img/checkbox.svg); padding-right: 0.533rem;}
.solution-info07 .pin-list{padding: 3.6rem 0 0;}
.solution-info07 .pin-list li{line-height: 2rem;}
.solution-info07 .pin-list li::before{background-image: url(../img/pin.svg);}
/*solution 8*/
.solution-info08{padding: 5.867rem 0 8.333rem; background: #0a723f url(../img/apply_bg_desktop.svg) no-repeat center top;}
.solution-info08 h3{padding:6.4rem 0 0;background: url(../img/note.png) no-repeat center top; color: #ffff9b; font-size: 2.267rem; text-align: center;}
.solution-info08 > div{width: 51.53rem; height: 42.44rem; padding: 6.667rem 7rem; margin: 2.4rem auto; background: #fff; box-sizing: border-box; color: #515151;}
.solution-info08 > div > span{font-size: 1.333rem; line-height: 1.933rem; color: #0a723f;}
/* .solution-info08 > div > span::before{content: ""; display: inline-block; width: 1.133rem; height: 1.933rem; padding: 0 0.6rem 0 0; background: url(../img/star.svg) no-repeat center; vertical-align: -5px;} */
.solution-info08 .file-list{padding: 1.333rem 0 2.533rem;}
.solution-info08 .file-list em{display: block; line-height: 1.8;}
.solution-info08 .ex{padding: 1.2rem 0 1.2rem 5.78rem; font-size: 1.133rem; line-height: 1.667rem;}
.solution-info08 .ex:last-child{border-top: 1px dotted #000;}
.solution-info08 .ex span{position: relative; display: inline-block; text-indent:-5.2rem; font-size: 0.9333rem; line-height: 1.333rem; z-index: 10;}
.solution-info08 .ex span::before{content: ""; position: absolute; left: -5.533rem; top: -2px; width: 2.933rem; height: 1.333rem; color: #707070; background: #ffff9b; z-index: -1;}
/* footer */
#footer{background: #252525; color: #fff;}
#footer > div{padding: 4rem 4.667rem; }
#footer .left-box{float: left; width: 70%;}
.footer h2{padding: 0 0 2.333rem; font-size: 2rem}
.footer .foot-list{padding: 0 0 2rem;}
.footer .foot-list li{float: left; font-size: 1rem; line-height: 1.5rem;}
.footer .foot-list li::after{content: ""; display:
inline-block; width: 1px; height: 1.2rem; margin: 0 5px; background: #fff; vertical-align: -5px;}
.footer .foot-list li:last-child::after{display: none;}
.footer .foot-list li address{display: inline-block;}
.footer .btn{display: inline-block; width: 10rem; border: 1px solid #fff; font-size: 1.2rem; line-height: 2.8rem; color: #fff; text-align: center; margin: 0 1rem 0 0; border-radius: 3px;}
.footer .foot-sns{padding: 1rem 0 0;}
.footer .foot-sns em{vertical-align: top; font-size: 1.1rem;}
.footer .foot-sns a{padding: 0 5px;}
.footer .foot-sns a img{width: 2.467rem; height: 2.457rem; vertical-align: top;}
.footer .map{float: right; width: 30%;}
.consulting{display: none;}
.copy{display: none;}

@media screen and (max-width:1000px) {
  #header .logo{left: 2.533rem;}
  /*메인비주얼*/
  #main-visual{height: 67.07rem; background-image: url(../img/main_bg_tablet.svg);}
  #main-visual .box-center{width: 100%;}
  #main-visual .box-center::before{content: ""; position: absolute; right:70%; bottom: -43px; transform: translateX(50%); width: 16.93rem; height: 17.33rem; background:url(../img/computer_boy.png) no-repeat center top / contain;}
  #main-visual .box-center::after{content: ""; position: absolute; right:30%; bottom: 7.067rem; transform: translateX(50%); width: 15.07rem; height: 4.933rem; background:url(../img/type.svg) no-repeat center top / contain;}
  #main-visual .visual-box{left: 50%; transform: translateX(-50%);}
  /* #main-visual .visual-box{width: 30.53rem; height: 37.33rem;} */
  /*퀵메뉴*/
  .quick a{font-size: 1.2rem;}
  .quick a p{float: left; width: 75%; background:rgba(0,0,0,.7); line-height: 4.333rem;}
  .quick a span{float: left; display:block; width: 25%; background: #f5785a; line-height: 4.333rem;}
  /*이거 혹시 내얘기 2sec*/
  #story{padding: 12.13rem 0 0;}
  h4{font-size: 2.267rem; line-height: 3.467rem; color: #0a723f;}
  h4::after{content: ""; display: block; margin: 1.25rem 0 1.5rem; width: 100%; height: 3px; background: #0a723f;}
  .solution-info01{text-align: center;}
  .solution-info01 .men{float: none; padding: 4.4rem 0 0 0; width: 17.87rem;}
  .solution-info01 figure{margin: 0;}
  .solution-info01 figure img{float: none; height: 20.2rem; margin: 3.933rem 0 12.27rem;}
  /*solution 2*/
  .solution-info02{margin: 11.47rem 0 0; padding: 4.8rem 0 3.867rem;}
  .solution-info02 strong{float: none; display: block; width:100%; line-height: 3.33rem; text-align: center;}
  .solution-info02 i{float: none; display: block; padding: 1.867rem 0 0 ;width: 100%; line-height: 5.6rem; text-align: center;}
  .solution-info02 em{display: block; width: 100%; color: #707070; text-align: center;}
  /*solution 3*/
  .solution-info03{position: relative; background: #e3f7da;}
  .solution-info03::before{content: url("../img/hemcard_circle.svg"); position: absolute; top:55%; left: 50%; transform: translate(-50%,-50%) rotate(90deg); z-index: 1;}
  .solution-info03 > div{width:100%; padding: 0; text-align: center;}
  .solution-info03 img{position: relative; float: none; padding: 5.875rem 0 0; z-index: 10;}
  .solution-info03 .new-pay{float: none; width: 100%; padding: 11.667rem 0 5.467rem;}
  /*solution 4*/
  .solution-info04 >div{position: relative; width: 100%; padding: 7.8rem 0 19.93rem 0rem;}
  .solution-info04 .new-pay-info{float: none; position: absolute; left: 10%; bottom: 9.333rem; width: 45%; }
  .solution-info04 .new-pay-info h4{width: 18.2rem;}
  .solution-info04 .new-pay-info p{width: 18.33rem;}
  .solution-info04 img{float: none; padding: 0 0 0 30%; width: 55%; min-width: 28.67rem; text-align: center}
  /*solution 5*/
  .solution-info05::before{transform: translateX(-50%); width: 10.13rem; height: 7.6rem;}
  .solution-info05::after{transform: translateX(300%); width: 6.867rem; height: 16.87rem;}
  .solution-info05 > div{overflow: hidden;}
  .solution-info05 .radius{padding: 13.73rem 6rem 9.375rem;}
  /*solution 6*/
  .solution-info06{padding: 12.33rem 0 14rem; }
  /*solution 7*/
  .solution-info07{padding: 8.267rem 0 7.867rem;}
  /*solution 8*/
  .solution-info08{padding: 8rem 0;}
  .solution-info08 > div{width: 45.33rem; height: 43.33rem; padding: 5.667rem 3.3rem 4.5rem;}
  /* footer */
  #footer h2{padding: 15rem 0 1rem;}
  #footer > div{position: relative; padding: 2rem; }
  #footer .left-box{float: none; width:100%;}
  .footer .foot-list{padding: 0 0 2rem;}
  .footer .foot-list li{color: #ccc;}
  .footer .foot-list li strong{font-weight: normal;}
  .footer .foot-list li:nth-child(1){order: 4;}
  .footer .foot-list li:nth-child(4){clear: both;}
  .footer .foot-list li:nth-child(5){ padding: 0 0 1rem;}
  .footer .foot-list li:nth-child(5)::after,
  .footer .foot-list li:nth-child(7)::after{display: none;}
  .footer .foot-list li:nth-child(6),
  .footer .foot-list li:nth-child(8){clear: both;}
  .footer .foot-list li:nth-child(6),
  .footer .foot-list li:nth-child(7),
  .footer .foot-list li:nth-child(8),
  .footer .foot-list li:nth-child(9){color: #fff; font-weight: bold;}
  .footer .foot-list li:nth-child(6) strong,
  .footer .foot-list li:nth-child(7) strong{color: #ccc;}
  /* .footer .foot-list li:nth-child(3){order: 3;}
  .footer .foot-list li:nth-child(4){order: 5;}
  .footer .foot-list li:nth-child(5){order: 6;}
  .footer .foot-list li:nth-child(6){order: 7;}
  .footer .foot-list li:nth-child(7){order: 1;}
  .footer .foot-list li:nth-child(8){order: 8;}
  .footer .foot-list li:nth-child(9){order: 9;} */
  .footer .btn{display: none;}
  .footer .foot-sns{position: absolute; right: 2rem; bottom: 3rem;}
  .footer .foot-sns em{display: none;}
  .footer .map{float: none; position: absolute; left: 2rem; top: 2rem; width: 30%; min-width: 17.33rem;}
  .consulting{display: block; position: absolute; bottom: -3rem; right: 2rem;}
  .consulting a{position: relative; display: block; width: 9.667rem; padding: 0 0 0 1.5rem; line-height: 3.73rem; border-radius: 3.73rem; color:#000;background: #fff; box-sizing: border-box;}
  .consulting a::after{content:""; position: absolute; right: -0.2rem; top: -0.2rem; width: 4rem; height: 4rem; background:  #0a723f; border-radius: 100%;}
  .copy{display: block; width: 100%; padding: 2rem 0 3rem; border-top: 1px solid #ccc; text-align: center;}
}

@media screen and (max-width:730px) {
  .quick a{font-size: 1rem;}
  .solution-info01{text-align: center;}
  .solution-info01 .men{float: none; padding: 4.4rem 0 0 0; width: 17.87rem;}
  .solution-info01 figure{margin: 0;}
  .solution-info01 figure img{float: none;}
  .solution-info01 p{width: 100%; font-size: 2.533rem; line-height: 4.3rem;}
  .solution-info01 p:after{width: 1.5rem; height: 1.3rem; left: 50%; top:0; transform: translateX(-18.67rem);}
  .solution-info01 p:before{width: 1.5rem; height: 1.3rem; right: 50%; top:0; transform: translateX(18.67rem);}
  /*solution 6*/
  .solution-info06 > div{width: 65%; padding: 13.4rem 0 0;}
  .solution-info06 p{font-size: 2.5rem; line-height: 3.667rem;}



}
